/* This file is for your main application css. */

@import "./phoenix.css";

.highlight {
  animation-name: highlight;
  animation-duration: 1s;
}

@keyframes highlight {
  0%   { background-color:white; }
  50%  { background-color:red; }
  100% { background-color:white; }
}
